<!DOCTYPE html>
<html>
<head>
  <title>VirtualResume</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  
  <!-- For SEO optimization -->
  <meta name="description" content="Web application to create and share virtual resume">
  <meta name="keywords" content="resume,virtual, linkedin">
  
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro" rel="stylesheet">
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
